.Contador{
    align-items: center;
}

body{
    background-color: antiquewhite;
}

p{
    align-items: center;
    margin-left: 750px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

body {
    padding: 2em;  
  }
  
  .ContadorReset{
     counter-reset: Botao;
  }
  
  .Botao{
     width: 20px;
     height: 20px;
     margin-right: 10px;
     appearance: button;
     -moz-appearance: button;
     -webkit-appearance: button;
  }
  
  
  .ContadorPrint::after{
     content: "Total: " counter(Botao);
  }
  
  
  .Contador:checked{
     counter-increment: Botao;
  }